.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 20px 8px 20px;
    box-sizing: border-box;
}

/*especificamente para a parte da história*/
.historia {
    text-align: justify;
}
/*para colocar a lhama no meio no corpo do site e aumenta a section dela*/
.logo {
    height: 300px;
    text-align: center;
}
/*Ajusta os botões do form*/
.botao {
    margin: 5px;
}


body {
    font-size: 62.5%;
    background-color: rgba(1, 114, 10, 0.795);
}

header {
    width: 100%;
    background-color: rgb(4, 116, 0);
}

header nav {
    text-align: center;
    font-size: 3em;
    color: rgb(255, 230, 0);
}

header div {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
}

section {
    height: 215px;
    width: 80vw;
    margin: 0 auto;
    padding: 8px;
    background-color: rgb(206, 230, 205);
    font-size: 1.5em;
    line-height: 1.5; 
}

section h3 {
    font-weight: bold;
    font-size: 1.6em;
    border-top: 1.5px solid black ;
    border-bottom: 1.5px solid black ;
    text-align: center;
}

section article p {
    width: 90%;
    margin: 10px auto 0px auto;
}

form {
    border: 2px dotted black;
    margin: 5px;
    padding: 5px;
}

footer {
    width: 100%;
    background-color: rgb(4, 116, 0);
    height:50px ;
    font-size: 1.6em;
    color: rgb(255, 230, 0);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}